<div class="page-options ">
    <ul class="unstyled align-right">
        <li><a title="<%= l.expandall %>" class="btn btn-mini" action="expand-sections"><i class="fa fa-caret-down fa-white fa-small"></i> <%= l.expandall %></a></li>
        <li><a title="<%= l.collapseall %>" class="btn btn-mini" action="collapse-sections"><i class="fa fa-caret-up fa-white fa-small"></i> <%= l.collapseall %></a></li>
        <li><a title="<%= l.btnTitlePrint %>" target="_blank" class="btn btn-mini" action="printdossier"><i class="fa fa-print fa-white"></i> <%= l.buttonPrint %></a></li>
        <li><a title="<%= l.btnTitleEmail %>" class="btn btn-mini" action="emailDossierInformation" href="#"><i class="fa fa-envelope fa-white"></i> <%= l.buttonEmail %></a></li>
        <li><a title="<%= l.restorePreferences %>" class="btn btn-mini" action="restoreVisualPreferences"><i class='fa fa-refresh fa-white'></i> <%= l.restorePreferences %></a></li>
    </ul>
</div>
